@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .bg-grid-slate-100 {
    background-image: 
      linear-gradient(to right, rgb(241 245 249 / 0.5) 1px, transparent 1px),
      linear-gradient(to bottom, rgb(241 245 249 / 0.5) 1px, transparent 1px);
    background-size: 24px 24px;
  }
}
